/* google font */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');

/* nuxt transition start */
.page-enter-active, 
.page-leave-active {
  transition: opacity .3s
}
.page-enter, 
.page-leave-to {
  opacity: 0
}
.page-enter-to, 
.page-leave {
  opacity: 1
}
.layout-enter-active, .layout-leave-active {
  transition: opacity 0.6s
}
.layout-enter, .layout-leave-active {
  opacity: 0;
}
/* nuxt transition end */

/* main css start */
.v-application code::after, .v-application code::before{
  content:unset !important;
}

body, html, html body .v-application {
  font-family: 'Noto Serif TC', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  line-height: 1.0;
  color: inherit;
}

h1{font-size:36px;margin-top: 10px;margin-bottom: 5px;}
h2{font-size:30px;margin-top: 10px;margin-bottom: 5px;}
h3{font-size:24px;margin-top: 10px;margin-bottom: 5px;}
h4{font-size:18px;margin-top: 5px;margin-bottom: 5px;}
h5{font-size:14px;margin-top: 5px;margin-bottom: 5px;}
h6{font-size:12px;margin-top: 5px;margin-bottom: 5px;}

table td{
  border-collapse: collapse !important;
  border:1px solid black;
}